@font-face {
  font-family: 'ComicalCartoon';
  src: url(Comical_Cartoon.ttf);
}

body {
  background-image: url(https://wallpapercave.com/wp/wp1925776.jpg);
  background-size: cover;
  background-color: rgba(233, 150, 122, 0.7);
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'ComicalCartoon';
}

section {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 40px;
  border-radius: 20px;
  padding: 25px;
}

#game {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#scores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.choices {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 80px;
}

.player-choice, .computer-choice {
  color: darkred;
}

.results {
  margin: 50px;
  text-align: center;
  font-size: 25px;
}

.playing {
  transform: scale(1.1);
  transition: 450ms;
  background: rgb(72, 1, 1);
  border-color: lightcoral;
}

h1, h2 {
  text-align: center;
  margin-bottom: 30px;
  color: darkred;
}

h2 {
  font-size: 20px;
  color: black;
}

p {
  text-align: center;
}

img {
  width: 200px;
}

button {
  font-size: 10px;
  border-radius: 50%;
  padding: 30px;
  background: darkred;
  color: antiquewhite;
  transition: all .07s ease;
  font-family: 'ComicalCartoon';
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 25px 9px rgba(196, 149, 149, 0.8);
}

